!!! 5
html
  head
    include includes/head
  body
    include includes/toppanel
    .container
      .row
        .span12
          .well
            ul#coreLinkList.nav.nav-list
              li.nav-header
                | Documentation
          
