!!! 5
html
  head
    include includes/head
    script(type='text/javascript', src='js/examples.js')
    style
      body {
        overflow-y:scroll;
      }
  body
    include includes/toppanel
    .container
      .row
        .span3
          .well
            ul#coreLinkList.nav.nav-list
              li.nav-header
                | Core features
        .span9
          #base.example(style='width: 600px;')
          #editable.example(style='width: 600px;')
          #nested.example(style='width: 600px;')
          #resizable.example(style='width: 600px;')
          #filterable.example(style='width: 600px;')
          #add-and-delete.example(style='width: 600px;')
          #hierarchy_dragging.example(style='width: 600px;')
          h3 Code for example
          pre
            code#example_js(data-language='javascript')
    hr
