!!! 5
html
  head
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    title Tablestakes: A bad-ass interactive grid platform.
    link(href='libs/css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='libs/css/nv.d3.css', rel='stylesheet', type='text/css')
    link(href='libs/css/rainbow-theme.css', rel='stylesheet', type='text/css')
    style
      .icon-white {background-image: url("libs/img/glyphicons-halflings-white.png")}
    script(type='text/javascript', src='libs/jquery-1.8.0.js')
    script(type='text/javascript', src='libs/underscore.js')
    script(type='text/javascript', src='libs/backbone.js')
    script(type='text/javascript', src='libs/d3.v2.js')
    script(type='text/javascript', src='libs/rainbow-custom.min.js')
    script(type='text/javascript', src='libs/bootstrap.min.js')
    //
      <script type="text/javascript" src="base.js"></script>
    script(type='text/javascript', src='js/tablestakes.js')
    link(href='css/tablestakes.css', rel='stylesheet', type='text/css')

    script(type='text/javascript', src='js/examples.js')
    style
      body {
      overflow-y:scroll;
      }
  body
    .container
      .row
        .span3
          .well
            ul#coreLinkList.nav.nav-list
              li.nav-header
                | Core features
        .span9
          .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner.navbar.navbar-inverse.navbar-fixed-top
              .container
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.brand(href='http://www.activecell.com') Tablestakes
                .nav-collapse
                  ul.nav
                    li.active
                      a(href='/')
                        i.icon-white.icon-home
                        | Home
                    li
                      a(href='/styleguide')
                        i.icon-white.icon-glass
                        | Style Guide
                    li
                      a(href='https://github.com/activecell/tablestakes')
                        i.icon-white.icon-book
                        | Source
                //
                  /.nav-collapse 
          #base.example(style='width: 600px;')
          #editable.example(style='width: 600px;')
          #nested.example(style='width: 600px;')
          #filterable.example(style='width: 600px;')
          #add-and-delete.example(style='width: 600px;')
          #example-draggable.example(style='width: 600px;')
          h3 Code for example
          pre
            code#example_js(data-language='javascript')
    hr
