<div class="row">
  <div class="span3">
    <div class="well">
      <ul class="nav nav-list" id="coreLinkList">
        <li class="nav-header">
          Core features
        </li>
        <li>
          
        </li>
      </ul>
    </div>
  </div>

  <div class="span9">
    <h3 id="example_header"></h3>
    <div id="example_view" style="width: 680px"></div>
    <h3>Code for example</h3>
    <pre><code data-language="javascript" id="example_js"></code></pre>
    <script id="example_script"></script>
  </div>
</div>
<hr>

<% styleguide_block  '1.0' do %>
  <table class="three-year">
   <thead>
     <tr class="year">
       <th></th>
       <th>2012</th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th>2013</th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
     <tr class="month">
       <th class="title">Category Name</th>
       <th class="first">Aug</th>
       <th>Sep</th>
       <th>Oct</th>
       <th>Nov</th>
       <th>Dec</th>
       <th class="first">Jan</th>
       <th>Feb</th>
       <th>Mar</th>
       <th>Apr</th>
       <th>May</th>
       <th>Jun</th>
       <th>Jul</th>
     </tr>
   </thead>
   <tbody>
     <tr class="parent open">
       <td class="title">Parent Row - Open</td>
       <td></td>
       <td></td>
       <td class="plan"></td>
       <td class="plan"></td>
       <td class="plan"></td>
       <td class="plan"></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
     </tr>
     <tr class="child">
       <td class="title">Child Row</td>
       <td>22</td>
       <td>32,567</td>
       <td class="plan">1,234</td>
       <td class="plan">987</td>
       <td class="plan">125,897</td>
       <td class="plan">12,986</td>
       <td>154</td>
       <td>67</td>
       <td>4</td>
       <td>456</td>
       <td>327</td>
       <td>14</td>
     </tr>
     <tr class="child">
       <td class="title">Child Row</td>
       <td>22</td>
       <td>32,567</td>
       <td class="plan">1,234</td>
       <td class="plan">987</td>
       <td class="plan">125,897</td>
       <td class="plan">12,986</td>
       <td>54</td>
       <td>67</td>
       <td>4</td>
       <td>456</td>
       <td>327</td>
       <td>14</td>
     </tr>
     <tr class="child subtotal">
       <td class="title">Section Subtotal</td>
       <td>22</td>
       <td>32,567</td>
       <td class="plan">1,234</td>
       <td class="plan">987</td>
       <td class="plan">125,897</td>
       <td class="plan">12,986</td>
       <td>154</td>
       <td>67</td>
       <td>4</td>
       <td>456</td>
       <td>327</td>
       <td>14</td>
     </tr>
     <tr class="parent">
       <td class="title">Parent Row - closed</td>
       <td>22</td>
       <td>32,567</td>
       <td class="plan">1,234</td>
       <td class="plan">987</td>
       <td class="plan">125,897</td>
       <td class="plan">12,986</td>
       <td>154</td>
       <td>67</td>
       <td>4</td>
       <td>456</td>
       <td>327</td>
       <td>14</td>
     </tr>
     <tr>
       <td class="title"><a href="#">Independant Row (link)</a></td>
       <td>22</td>
       <td>32,567</td>
       <td class="plan">1,234</td>
       <td class="plan">987</td>
       <td class="plan">125,897</td>
       <td class="plan">12,986</td>
       <td>154</td>
       <td>67</td>
       <td>4</td>
       <td>456</td>
       <td>327</td>
       <td>14</td>
     </tr>
     <tr>
       <td class="title">Indy Row with %</td>
       <td>22</td>
       <td>32,567</td>
       <td class="plan">1,234</td>
       <td class="plan">987</td>
       <td class="plan">125,897</td>
       <td class="plan">12,986</td>
       <td>154</td>
       <td>67</td>
       <td>4</td>
       <td>456</td>
       <td>327</td>
       <td>14</td>
     </tr>
     <tr class="percent">
       <td class="title">percent change</td>
       <td></td>
       <td>32%</td>
       <td class="plan">1%</td>
       <td class="plan">98%</td>
       <td class="plan">12%</td>
       <td class="plan">2%</td>
       <td>15%</td>
       <td>67%</td>
       <td>4%</td>
       <td>56%</td>
       <td>32%</td>
       <td>14%</td>
     </tr>
     <tr>
       <td class="title">Indy Row with %</td>
       <td>22</td>
       <td>32,567</td>
       <td class="plan">1,234</td>
       <td class="plan">987</td>
       <td class="plan">125,897</td>
       <td class="plan">12,986</td>
       <td>154</td>
       <td>67</td>
       <td>4</td>
       <td>456</td>
       <td>327</td>
       <td>14</td>
     </tr>
     <tr class="percent">
       <td class="title">percent change</td>
       <td></td>
       <td>32%</td>
       <td class="plan">1%</td>
       <td class="plan">98%</td>
       <td class="plan">12%</td>
       <td class="plan">2%</td>
       <td>15%</td>
       <td>67%</td>
       <td>4%</td>
       <td>56%</td>
       <td>32%</td>
       <td>14%</td>
     </tr>
     <tr>
       <td class="editable title">Indy &amp; Editable name</td>
       <td>22</td>
       <td>32,567</td>
       <td class="plan">1,234</td>
       <td class="plan">987</td>
       <td class="plan">125,897</td>
       <td class="plan">12,986</td>
       <td>154</td>
       <td>67</td>
       <td>4</td>
       <td>456</td>
       <td>327</td>
       <td>14</td>
     </tr>
     <tr class="total">
       <td class="title">Overall Total</td>
       <td>22</td>
       <td>32,567</td>
       <td class="plan">1,234</td>
       <td class="plan">987</td>
       <td class="plan">125,897</td>
       <td class="plan">12,986</td>
       <td>154</td>
       <td>67</td>
       <td>4</td>
       <td>456</td>
       <td>327</td>
       <td>14</td>
     </tr>
     <tr class="current-month">
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td><span>Current</span></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
     </tr>
   </tbody>
  </table>
<% end %>