<table class="tablestakes">
  <thead>
    <tr>
      <th class="row-heading">
        <div>header cell</div>
      </th>
      <th>
        <div>header cell</div>
      </th>
      <th>
        <div>header cell</div>
      </th>
      <th>
        <div>header cell</div>
      </th>
      <th>
        <div>header cell</div>
      </th>
      <th>
        <div>header cell</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="row-heading">
        <div>cell</div>
      </td>
      <td>
        <div>cell</div>
      </td>
      <td>
        <div>cell</div>
      </td>
      <td>
        <div>cell</div>
      </td>
      <td>
        <div>cell</div>
      </td>
      <td>
        <div>cell</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading">
        <div>cell</div>
      </td>
      <td>
        <div>cell</div>
      </td>
      <td>
        <div>cell</div>
      </td>
      <td>
        <div>cell</div>
      </td>
      <td>
        <div>cell</div>
      </td>
      <td>
        <div>cell</div>
      </td>
    </tr>
  </tbody>
</table>