<table class="tablestakes">
  <thead>
    <tr>
      <th class="row-heading">header cell</th>
      <th>header cell</th>
      <th>header cell</th>
      <th>header cell</th>
      <th>header cell</th>
      <th>header cell</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="row-heading">cell</td>
      <td>cell</td>
      <td>cell</td>
      <td>cell</td>
      <td>cell</td>
      <td>cell</td>
    </tr>
    <tr>
      <td class="row-heading">cell</td>
      <td>cell</td>
      <td>cell</td>
      <td>cell</td>
      <td>cell</td>
      <td>cell</td>
    </tr>
  </tbody>
</table>