<table class="tablestakes">
  <thead>
    <tr>
      <td style="width: 250px" class="{{className}}">Example header</td>
      <th style="width: 250px" class="{{className}}">Example header</th>
      <td></td>
    </tr>
  </thead>
</table>