<table class="tablestakes">
  <thead>
    <tr class="{{className}}">
      <td>
        <div>Example header</div>
      </td>
      <th>
        <div>Example header</div>
      </th>
      <td>
        <div>Example header</div>
      </td>
    </tr>
  </thead>
</table>