<table class="tablestakes">
  <thead>
    <tr>
      <td style="width: 250px" class="{{className}}">
        <div>
          Example header</div>
        </td>
      <th style="width: 250px" class="{{className}}">
        <div>Example header</div>
      </th>
      <td></td>
    </tr>
  </thead>
</table>