<table class="tablestakes">
  <thead>
    <tr class="secondary">
      <td></td>
      <th>2012</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <th>2013</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="row-heading">
      <th>Category Name</th>
      <th class="sortable">Aug</th>
      <th class="sortable sorted-asc">Sep</th>
      <th class="sortable sorted-desc">Oct</th>
      <th class="sortable">Nov</th>
      <th class="sortable">Dec</th>
      <th class="sortable">Jan</th>
      <th class="sortable">Feb</th>
      <th class="sortable">Mar</th>
      <th class="sortable">Apr</th>
      <th class="sortable">May</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="collapsible">collapsible</td>
      <td> </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="indent1">Indent 1</td>
      <td class="old">22</td>
      <td class="old">32,567</td>
      <td class="plan">1,234</td>
      <td class="plan">987</td>
      <td class="plan">125,897</td>
      <td class="plan">12,986</td>
      <td>154</td>
      <td>67</td>
      <td>4</td>
      <td>14</td>
    </tr>
    <tr>
      <td class="indent1">Indent 1</td>
      <td class="old">22</td>
      <td class="old">32,567</td>
      <td class="plan">1,234</td>
      <td class="plan">987</td>
      <td class="plan">125,897</td>
      <td class="plan">12,986</td>
      <td>54</td>
      <td>67</td>
      <td>4</td>
      <td>14</td>
    </tr>
    <tr>
      <td class="collapsible indent1">collapsible</td>
      <td> </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="indent2">Indent 2</td>
      <td>22</td>
      <td>32,567</td>
      <td class="plan">1,234</td>
      <td class="plan">987</td>
      <td class="plan">125,897</td>
      <td class="plan">12,986</td>
      <td>54</td>
      <td>67</td>
      <td>4</td>
      <td>14</td>
    </tr>
    <tr class="subtotal">
      <td>Section Subtotal</td>
      <td>22</td>
      <td>32,567</td>
      <td class="plan">1,234</td>
      <td class="plan">987</td>
      <td class="plan">125,897</td>
      <td class="plan">12,986</td>
      <td>154</td>
      <td>67</td>
      <td class="light">456</td>
      <td>14</td>
    </tr>
    <tr class="spacer">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="expandable">Expandable</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Independant Row (link)</a></td>
      <td>22</td>
      <td>32,567</td>
      <td class="plan">1,234</td>
      <td class="plan">987</td>
      <td class="plan">125,897</td>
      <td class="plan">12,986</td>
      <td>154</td>
      <td>67</td>
      <td>4</td>
      <td>14</td>
    </tr>
    <tr>
      <td>Indy Row with %</td>
      <td>22</td>
      <td>32,567</td>
      <td class="plan">1,234</td>
      <td class="plan">987</td>
      <td class="plan">125,897</td>
      <td class="plan">12,986</td>
      <td>154</td>
      <td>67</td>
      <td>4</td>
      <td>14</td>
    </tr>
    <tr class="percent">
      <td class="percent">change</td>
      <td></td>
      <td>32%</td>
      <td class="plan">1%</td>
      <td class="plan">98%</td>
      <td class="plan">12%</td>
      <td class="plan">2%</td>
      <td>15%</td>
      <td>67%</td>
      <td>4%</td>
      <td>14%</td>
    </tr>
    <tr>
      <td>Indy Row with %</td>
      <td>22</td>
      <td>32,567</td>
      <td class="plan">1,234</td>
      <td class="plan">987</td>
      <td class="plan">125,897</td>
      <td class="plan">12,986</td>
      <td>154</td>
      <td>67</td>
      <td>4</td>
      <td>14</td>
    </tr>
    <tr class="percent">
      <td>percent change</td>
      <td></td>
      <td>32%</td>
      <td class="plan">1%</td>
      <td class="plan">98%</td>
      <td class="plan">12%</td>
      <td class="plan">2%</td>
      <td>15%</td>
      <td>67%</td>
      <td>4%</td>
      <td>14%</td>
    </tr>
    <tr>
      <td class="editable">Indy & Editable name</td>
      <td>22</td>
      <td>32,567</td>
      <td class="plan">1,234</td>
      <td class="plan">987</td>
      <td class="plan">125,897</td>
      <td class="plan">12,986</td>
      <td>154</td>
      <td>67</td>
      <td>4</td>
      <td>14</td>
    </tr>
    <tr class="total">
      <td>Overall Total</td>
      <td>22</td>
      <td>32,567</td>
      <td class="plan">1,234</td>
      <td class="plan">987</td>
      <td class="plan">125,897</td>
      <td class="plan">12,986</td>
      <td>154</td>
      <td>67</td>
      <td>4</td>
      <td>14</td>
    </tr>
  </tbody>
</table>