<table class="tablestakes">
  <thead>
    <tr class="secondary">
      <td>
        <div></div>
      </td>
      <th>
        <div>2012</div>
      </th>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <th>
        <div>2013</div>
      </th>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
    </tr>
    <tr class="row-heading">
      <th>
        <div>Category Name</div>
      </th>
      <th class="sortable">
        <div>Aug</div>
      </th>
      <th class="sortable sorted-asc">
        <div>Sep</div>
      </th>
      <th class="sortable sorted-desc">
        <div>Oct</div>
      </th>
      <th class="sortable">
        <div>Nov</div>
      </th>
      <th class="sortable">
        <div>Dec</div>
      </th>
      <th class="sortable">
        <div>Jan</div>
      </th>
      <th class="sortable">
        <div>Feb</div>
      </th>
      <th class="sortable">
        <div>Mar</div>
      </th>
      <th class="sortable">
        <div>Apr</div>
      </th>
      <th class="sortable">
        <div>May</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="collapsible">
        <div>collapsible</div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
    </tr>
    <tr>
      <td class="indent1">
        <div>Indent 1</div>
      </td>
      <td class="old">
        <div>22</div>
      </td>
      <td class="old">
        <div>32,567</div>
      </td>
      <td class="plan">
        <div>1,234</div>
      </td>
      <td class="plan">
        <div>987</div>
      </td>
      <td class="plan">
        <div>125,897</div>
      </td>
      <td class="plan">
        <div>12,986</div>
      </td>
      <td>
        <div>154</div>
      </td>
      <td>
        <div>67</div>
      </td>
      <td>
        <div>4</div>
      </td>
      <td>
        <div>14</div>
      </td>
    </tr>
    <tr>
      <td class="indent1">
        <div>Indent 1</div>
      </td>
      <td class="old">
        <div>22</div>
      </td>
      <td class="old">
        <div>32,567</div>
      </td>
      <td class="plan">
        <div>1,234</div>
      </td>
      <td class="plan">
        <div>987</div>
      </td>
      <td class="plan">
        <div>125,897</div>
      </td>
      <td class="plan">
        <div>12,986</div>
      </td>
      <td>
        <div>54</div>
      </td>
      <td>
        <div>67</div>
      </td>
      <td>
        <div>4</div>
      </td>
      <td>
        <div>14</div>
      </td>
    </tr>
    <tr>
      <td class="collapsible indent1">
        <div>collapsible</div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
    </tr>
    <tr>
      <td class="indent2">
        <div>Indent 2</div>
      </td>
      <td>
        <div>22</div>
      </td>
      <td>
        <div>32,567</div>
      </td>
      <td class="plan">
        <div>1,234</div>
      </td>
      <td class="plan">
        <div>987</div>
      </td>
      <td class="plan">
        <div>125,897</div>
      </td>
      <td class="plan">
        <div>12,986</div>
      </td>
      <td>
        <div>54</div>
      </td>
      <td>
        <div>67</div>
      </td>
      <td>
        <div>4</div>
      </td>
      <td>
        <div>14</div>
      </td>
    </tr>
    <tr class="subtotal">
      <td>
        <div>Section Subtotal</div>
      </td>
      <td>
        <div>22</div>
      </td>
      <td>
        <div>32,567</div>
      </td>
      <td class="plan">
        <div>1,234</div>
      </td>
      <td class="plan">
        <div>987</div>
      </td>
      <td class="plan">
        <div>125,897</div>
      </td>
      <td class="plan">
        <div>12,986</div>
      </td>
      <td>
        <div>154</div>
      </td>
      <td>
        <div>67</div>
      </td>
      <td class="light">
        <div>456</div>
      </td>
      <td>
        <div>14</div>
      </td>
    </tr>
    <tr class="spacer">
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
    </tr>
    <tr>
      <td class="expandable">Expandable</td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div></div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <a href="#">Independant Row (link)</a>
        </div>
      </td>
      <td>
        <div>22</div>
      </td>
      <td>
        <div>32,567</div>
      </td>
      <td class="plan">
        <div>1,234</div>
      </td>
      <td class="plan">
        <div>987</div>
      </td>
      <td class="plan">
        <div>125,897</div>
      </td>
      <td class="plan">
        <div>12,986</div>
      </td>
      <td>
        <div>154</div>
      </td>
      <td>
        <div>67</div>
      </td>
      <td>
        <div>4</div>
      </td>
      <td>
        <div>14</div>
      </td>
    </tr>
    <tr>
      <td>
        <div>Indy Row with %</div>
      </td>
      <td>
        <div>22</div>
      </td>
      <td>
        <div>32,567</div>
      </td>
      <td class="plan">
        <div>1,234</div>
      </td>
      <td class="plan">
        <div>987</div>
      </td>
      <td class="plan">
        <div>125,897</div>
      </td>
      <td class="plan">
        <div>12,986</div>
      </td>
      <td>
        <div>154</div>
      </td>
      <td>
        <div>67</div>
      </td>
      <td>
        <div>4</div>
      </td>
      <td>
        <div>14</div>
      </td>
    </tr>
    <tr class="percent">
      <td class="percent">
        <div>change</div>
      </td>
      <td>
        <div></div></td>
      <td>
        <div>32%</div>
      </td>
      <td class="plan">
        <div>1%</div>
      </td>
      <td class="plan">
        <div>98%</div>
      </td>
      <td class="plan">
        <div>12%</div>
      </td>
      <td class="plan">
        <div>2%</div>
      </td>
      <td>
        <div>15%</div>
      </td>
      <td>
        <div>67%</div>
      </td>
      <td>
        <div>4%</div>
      </td>
      <td>
        <div>14%</div>
      </td>
    </tr>
    <tr>
      <td>
        <div>Indy Row with %</div>
      </td>
      <td>
        <div>22</div>
      </td>
      <td>
        <div>32,567</div>
      </td>
      <td class="plan">
        <div>1,234</div>
      </td>
      <td class="plan">
        <div>987</div>
      </td>
      <td class="plan">
        <div>125,897</div>
      </td>
      <td class="plan">
        <div>12,986</div>
      </td>
      <td>
        <div>154</div>
      </td>
      <td>
        <div>67</div>
      </td>
      <td>
        <div>4</div>
      </td>
      <td>
        <div>14</div>
      </td>
    </tr>
    <tr class="percent">
      <td>
        <div>percent change</div>
      </td>
      <td>
        <div></div>
      </td>
      <td>
        <div>32%</div>
      </td>
      <td class="plan">
        <div>1%</div>
      </td>
      <td class="plan">
        <div>98%</div>
      </td>
      <td class="plan">
        <div>12%</div>
      </td>
      <td class="plan">
        <div>2%</div>
      </td>
      <td>
        <div>15%</div>
      </td>
      <td>
        <div>67%</div>
      </td>
      <td>
        <div>4%</div>
      </td>
      <td>
        <div>14%</div>
      </td>
    </tr>
    <tr>
      <td class="editable">
        <div>Indy &amp; Editable name</div>
      </td>
      <td>
        <div>22</div>
      </td>
      <td>
        <div>32,567</div>
      </td>
      <td class="plan">
        <div>1,234</div>
      </td>
      <td class="plan">
        <div>987</div>
      </td>
      <td class="plan">
        <div>125,897</div>
      </td>
      <td class="plan">
        <div>12,986</div>
      </td>
      <td>
        <div>154</div>
      </td>
      <td>
        <div>67</div>
      </td>
      <td>
        <div>4</div>
      </td>
      <td>
        <div>14</div>
      </td>
    </tr>
    <tr class="total">
      <td>
        <div>Overall Total</div>
      </td>
      <td>
        <div>22</div>
      </td>
      <td>
        <div>32,567</div>
      </td>
      <td class="plan">
        <div>1,234</div>
      </td>
      <td class="plan">
        <div>987</div>
      </td>
      <td class="plan">
        <div>125,897</div>
      </td>
      <td class="plan">
        <div>12,986</div>
      </td>
      <td>
        <div>154</div>
      </td>
      <td>
        <div>67</div>
      </td>
      <td>
        <div>4</div>
      </td>
      <td>
        <div>14</div>
      </td>
    </tr>
  </tbody>
</table>