<table class="tablestakes">
  <thead>
    <tr class="row-heading">
      <th class="{{className}}">
        <div>
          <div class="resizable-handle left"></div>Resizable example
          <div class="resizable-handle right"></div>
        </div>
      </th>
      <th class="{{className}}">
        <div>
          <div class="resizable-handle left"></div>Resizable example
          <div class="resizable-handle right"></div>
        </div>
      </th>
      <th class="{{className}}">
        <div>
          <div class="resizable-handle left"></div>Resizable example
          <div class="resizable-handle right"></div>
        </div>
      </th>
    </tr>
  </thead>
</table>