<table class="tablestakes">
  <thead>
    <tr class="row-heading">
      <th class="{{className}}">
        <div class="resizeable-handle left"></div>Resizeable example
        <div class="resizeable-handle right"></div>
      </th>
      <th class="{{className}}">
        <div class="resizeable-handle left"></div>Resizeable example
        <div class="resizeable-handle right"></div>
      </th>
      <th class="{{className}}">
        <div class="resizeable-handle left"></div>Resizeable example
        <div class="resizeable-handle right"></div>
      </th>
    </tr>
  </thead>
</table>