<table class="tablestakes span8">
  <tbody>
    <tr class="{{className}}">
      <td>Rows example</td>
      <td>Rows example</td>
      <td>Rows example</td>
      <td>Rows example</td>
      <td>Rows example</td>
    </tr>
  </tbody>
</table>