<table class="tablestakes">
  <tbody>
    <tr class="{{className}}" style="position: relative">
      <td>Rows example</td>
      <td>Rows example</td>
      <td>Rows example</td>
      <td>Rows example</td>
      <td>Rows example</td>
    </tr>
  </tbody>
</table>