<table class="tablestakes">
  <tbody>
    <tr class="{{className}}" style="position: relative">
      <td>
        <div>Rows example</div>
      </td>
      <td>
        <div>Rows example</div>
      </td>
      <td>
        <div>Rows example</div>
      </td>
      <td>
        <div>Rows example</div>
      </td>
      <td>
        <div>Rows example</div>
      </td>
    </tr>
  </tbody>
</table>