<table class="tablestakes span4">
  <tbody>
    <tr>
      <td class="{{className}}">
        <input type="text"/>
      </td>
    </tr>
  </tbody>
</table>
<script type="text/javascript">
  $('.editable.active.calendar input').datepicker();
</script>