<table class="tablestakes">
  <tbody>
    <tr>
      <td class="{{className}}">
        <div>
          <select>
            <optgroup label="Picnic">
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </optgroup>
            <optgroup label="Camping">
              <option>Tent</option>
              <option>Flashlight</option>
              <option>Toilet Pape</option>
            </optgroup>
          </select>
        </div>
      </td>
    </tr>
  </tbody>
</table>