<table class="tablestakes">
  <tbody>
    <tr>
      <td class="{{className}}">
        <div>
          <input type="text" />
        </div>
      </td>
    </tr>
  </tbody>
</table>
<script type="text/javascript">
  $('.editable.active.calendar input').datepicker();
</script>