<table class="tablestakes span4">
  <tbody>
    <tr>
      <td class="{{className}}">
        <select>
          <optgroup label="Picnic">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
          </optgroup>
          <optgroup label="Camping">
            <option>Tent</option>
            <option>Flashlight</option>
            <option>Toilet Pape</option>
          </optgroup>
        </select>
      </td>
    </tr>
  </tbody>
</table>