<table class="tablestakes {{className}}">
  <thead>
    <tr>
      <th ref="0" class="row-heading resizable" style="width:355px">
        <div>
          Name
          <div class="resizable-handle right"></div>
        </div>
      </th>
      <th ref="1" class="resizable" style="width:355px">
        <div>
          Type
          <div class="resizable-handle left"></div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr style="display: none;">
      <td class="row-heading" meta-key="id">
        <div>id</div>
      </td>
      <td class="" meta-key="type">
        <div>type</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>nerds for good</div>
      </td>
      <td class="" meta-key="type">
        <div>ahaha</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>Simple Line</div>
      </td>
      <td class="" meta-key="type">
        <div>Historical</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>Scatter / Bubble</div>
      </td>
      <td class="" meta-key="type">
        <div>Snapshot</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>Stacked / Stream / Expanded Area</div>
      </td>
      <td class="" meta-key="type">
        <div>Historical</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>Discrete Bar</div>
      </td>
      <td class="" meta-key="type">
        <div>Snapshot</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>Grouped / Stacked Multi-Bar</div>
      </td>
      <td class="" meta-key="type">
        <div>Snapshot / Historical</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>Horizontal Grouped Bar</div>
      </td>
      <td class="" meta-key="type">
        <div>Snapshot</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>Line and Bar Combo</div>
      </td>
      <td class="" meta-key="type">
        <div>Historical</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>Cumulative Line</div>
      </td>
      <td class="" meta-key="type">
        <div>Historical</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>Line with View Finder</div>
      </td>
      <td class="" meta-key="type">
        <div>Historical</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>Legend</div>
      </td>
      <td class="" meta-key="type">
        <div>Universal</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>New Root</div>
      </td>
      <td class="" meta-key="type">
        <div>tatata</div>
      </td>
    </tr>
    <tr>
      <td class="row-heading" meta-key="id">
        <div>1</div>
      </td>
      <td class="" meta-key="type">
        <div>123</div>
      </td>
    </tr>
  </tbody>
</table>