/* Primary palette
-------------------------------------------------- */
/* Chart palette
-------------------------------------------------- */
/* Alert palette
-------------------------------------------------- */
/* line 18, ../src/scss/tables.scss */
table {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-collapse: separate;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  background: white;
}

/* line 38, ../src/scss/tables.scss */
thead th, thead td {
  text-transform: uppercase;
  white-space: nowrap;
  color: #a69b9e;
}

/* line 55, ../src/scss/tables.scss */
thead tr.row-heading th, thead tr.row-heading td {
  color: #30878f;
  text-align: right;
}
/* line 58, ../src/scss/tables.scss */
thead tr.row-heading th:first-child, thead tr.row-heading td:first-child {
  color: #00455b;
}

/* line 76, ../src/scss/tables.scss */
thead tr.secondary th, thead tr.secondary td {
  color: #30878f;
}
/* line 80, ../src/scss/tables.scss */
thead tr.secondary th {
  text-align: center;
}
/* line 84, ../src/scss/tables.scss */
thead tr.secondary td {
  border-bottom: solid 1px #e2dedf;
}

/* line 99, ../src/scss/tables.scss */
tfoot th, tfoot td {
  font-family: Georgia, serif;
  font-size: 16px;
  color: #a69b9e;
  font-weight: bold;
  font-style: italic;
}

/* line 124, ../src/scss/tables.scss */
tbody th.total, tbody td.total {
  font-weight: bold;
}
/* line 128, ../src/scss/tables.scss */
tbody th.right-aligned, tbody td.right-aligned {
  text-align: right;
}
/* line 132, ../src/scss/tables.scss */
tbody th.light, tbody td.light {
  color: #e2dedf;
}

/* line 146, ../src/scss/tables.scss */
thead .resizeable {
  cursor: col-resize;
}

/* line 162, ../src/scss/tables.scss */
thead .sortable {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}
/* line 167, ../src/scss/tables.scss */
thead .sortable:before, thead .sortable:after {
  position: absolute;
  left: 10px;
  height: 0;
  width: 0;
  content: "";
}
/* line 175, ../src/scss/tables.scss */
thead .sortable:before {
  top: 12px;
  border-color: transparent transparent #30878f transparent;
  border-style: solid;
  border-width: 0px 5px 5px 5px;
}
/* line 182, ../src/scss/tables.scss */
thead .sortable:after {
  bottom: 12px;
  border-color: #30878f transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
}
/* line 190, ../src/scss/tables.scss */
thead .sortable.sorted-asc:after {
  border-color: #e2dedf transparent transparent transparent;
}
/* line 196, ../src/scss/tables.scss */
thead .sortable.sorted-desc:before {
  border-color: transparent transparent #e2dedf transparent;
}

/* line 245, ../src/scss/tables.scss */
tbody tr.well td:first-child, tbody tr.well th:first-child {
  text-transform: uppercase;
  white-space: nowrap;
  color: #a69b9e;
}

/* line 268, ../src/scss/tables.scss */
th, td {
  font-size: 12px;
  text-align: left;
  padding: 9px 8px;
  width: 66px;
}
/* line 274, ../src/scss/tables.scss */
th:first-child, td:first-child {
  text-transform: uppercase;
  white-space: nowrap;
  color: #a69b9e;
}
/* line 281, ../src/scss/tables.scss */
th.plan, td.plan {
  background: #f5fbfc;
}

/* line 297, ../src/scss/tables.scss */
th.editable, td.editable {
  color: #30878f;
  cursor: pointer;
}
/* line 302, ../src/scss/tables.scss */
th.editable.active, td.editable.active {
  position: relative;
  display: block;
  cursor: text;
  border: 1px solid #30878f;
  -webkit-box-shadow: 1px 1px 3px rgba(48, 135, 143, 0.4), inset 1px 1px 3px rgba(48, 135, 143, 0.5);
  -moz-box-shadow: 1px 1px 3px rgba(48, 135, 143, 0.4), inset 1px 1px 3px rgba(48, 135, 143, 0.5);
  box-shadow: 1px 1px 3px rgba(48, 135, 143, 0.4), inset 1px 1px 3px rgba(48, 135, 143, 0.5);
  background: #faf9fa;
}
/* line 313, ../src/scss/tables.scss */
th.editable.changed, td.editable.changed {
  font-weight: bold;
  border: 1px dotted #30878f;
}

/* line 334, ../src/scss/tables.scss */
th.indent1, td.indent1 {
  padding-left: 10px;
}
/* line 339, ../src/scss/tables.scss */
th.indent2, td.indent2 {
  padding-left: 20px;
}
/* line 344, ../src/scss/tables.scss */
th.indent3, td.indent3 {
  padding-left: 30px;
}
/* line 349, ../src/scss/tables.scss */
th.indent4, td.indent4 {
  padding-left: 40px;
}
/* line 354, ../src/scss/tables.scss */
th.indent5, td.indent5 {
  padding-left: 50px;
}
/* line 359, ../src/scss/tables.scss */
th.indent6, td.indent6 {
  padding-left: 60px;
}
