/* Primary palette
-------------------------------------------------- */
/* Chart palette
-------------------------------------------------- */
/* Alert palette
-------------------------------------------------- */
/* line 25, ../src/scss/tables.scss */
table {
  padding: 10px;
  border-collapse: separate;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  background: white;
}

/* line 45, ../src/scss/tables.scss */
thead th, thead td {
  text-transform: uppercase;
  white-space: nowrap;
  color: #a69b9e;
}
/* line 53, ../src/scss/tables.scss */
thead tr.row-heading th, thead tr.row-heading td {
  color: #30878f;
}
/* line 55, ../src/scss/tables.scss */
thead tr.row-heading th:first-child, thead tr.row-heading td:first-child {
  color: #00455b;
}
/* line 62, ../src/scss/tables.scss */
thead tr.secondary th, thead tr.secondary td {
  color: #30878f;
}
/* line 66, ../src/scss/tables.scss */
thead tr.secondary th {
  text-align: center;
}
/* line 70, ../src/scss/tables.scss */
thead tr.secondary td {
  border-bottom: solid 1px #e2dedf;
}

/* line 133, ../src/scss/tables.scss */
th, td {
  font-size: 12px;
  text-align: right;
  padding: 9px 8px;
  width: 66px;
}
/* line 143, ../src/scss/tables.scss */
th .editable.active, td .editable.active {
  position: relative;
  display: block;
  width: auto;
  border: 1px solid #007f9b;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), inset 1px 1px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), inset 1px 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), inset 1px 1px 1px rgba(0, 0, 0, 0.12);
  background-color: #edebeb;
  background-image: -moz-linear-gradient(top, #e2dedf 0%, white 99%);
  background-image: -ms-linear-gradient(top, #e2dedf, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2dedf), to(white));
  background-image: -webkit-linear-gradient(top, #e2dedf, white);
  background-image: -o-linear-gradient(top, #e2dedf, white);
  background-image: linear-gradient(top, #e2dedf, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE2DEDF', endColorstr='#FFFFFFFF', GradientType=0);
}
/* line 151, ../src/scss/tables.scss */
th .editable.active:hover, td .editable.active:hover {
  cursor: text;
  background: white;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  background-color: white;
  background-image: -moz-linear-gradient(top, white 0%, white 99%);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
}
/* line 166, ../src/scss/tables.scss */
th.changed, td.changed {
  background-image: url("dirty.png");
  background-repeat: no-repeat;
  background-position: 1px 1px;
  border: 1px solid #8eadb3;
}
