<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
  <div class="span3">
    <div class="well">
      <ul class="nav nav-list" id="coreLinkList">
        <li class="nav-header">
          Core features
        </li>
      </ul>
    </div>
  </div>

  <div class="span9">
    <h3 id="example_header"></h3>
    <div id="example_view" style="width: 680px"></div>
    <h3>Code for example</h3>
    <pre><code data-language="javascript" id="example_js"></code></pre>
    <script id="example_script"></script>
  </div>
</div>
<hr>