!!! 5
html
  head
    title Tablestakes: A bad-ass interactive grid platform.
    link(href='/assets/vendors.css', rel='stylesheet', type='text/css')
    link(href='/assets/tablestakes.css', rel='stylesheet', type='text/css')
  body
    include shared/toppanel
    .container
      block content
    hr

    script(type='text/javascript', src='/assets/vendors.js')
    script(type='text/javascript', src='/assets/tablestakes.js')
    script(type='text/javascript', src='/assets/examples.js')