<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Tablestakes: Bad-ass interactive tables.</title>
  <link href="/vendor/stylesheets/profitably-branding.css" rel="stylesheet" type="text/css">
  <link href="/vendor/stylesheets/jquery-ui.css" rel="stylesheet" type="text/css">
  <link href="/vendor/rainbow/theme.css" rel="stylesheet" type="text/css">
  <link href="/vendor/stylesheets/styleguide.css" rel="stylesheet" type="text/css">
  <link href="/assets/tablestakes.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/vnd.microsoft.icon" href="/images/styleguide/favicon.ico">
  <!-- Font Awesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
</head>
<body style="padding-top: 60px">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header dropdown">
        <a href="#" id="drop1" class="navbar-brand dropdown-toggle" data-toggle="dropdown">
          <img src="/vendor/images/styleguide/activecell_logo.png" /> 
          Tablestakes.js <i class="icon-arrow-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="http://launchpad.activecell.com/admin">Activecell admin (rails)</a></li>
          <li><a href="#">Porchetta admin (node/socket)</a></li><li class="divider"></li>
          <li><a href="http://shotgun-showcase.herokuapp.com">Shotgun.js</a></li>
          <li><a href="http://striker-showcase.herokuapp.com">Striker.js</a></li>
          <li class="disabled"><a href="http://tablestakes-showcase.herokuapp.com">Tablestakes.js</a></li>
          <li><a href="http://tactile-showcase.herokuapp.com">Tactile.js</a></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/"><i class="icon-home"></i> Home</a></li>
          <li><a href="/performance"><i class="icon-white icon-time"></i> Performance</a></li>
          <li><a href="/styleguide"><i class="icon-magic"></i> Style Guide</a></li>
          <li><a href="/documentation"><i class="icon-list-alt"></i> Documentation</a></li>
          <li><a href="/tests"><i class="icon-white icon-ok"></i> Tests</a></li>
          <li><a href="https://github.com/activecell/tablestakes"><i class="icon-book"></i> Source</a></li>
        </ul>
    </div>
  </nav>
  
  {{{body}}}

  <script src="/vendor/javascripts/jquery.js"></script>
  <script src="/vendor/javascripts/jquery-ui.js"></script>
  <script src="/vendor/javascripts/profitably-branding.js"></script>
  <script src="/vendor/javascripts/underscore.js"></script>
  <script src="/vendor/javascripts/backbone.js"></script>
  <script src="/vendor/javascripts/d3.js"></script>
  <script src="/vendor/javascripts/numeral/numeral.js"></script>
  <script src="/vendor/javascripts/coffee-script.js"></script>
  <script src="/vendor/rainbow/rainbow.js"></script>
  <script src="/vendor/rainbow/language/generic.js"></script>
  <script src="/vendor/rainbow/language/coffeescript.js"></script>

  <script src="/assets/tablestakes.js" defer></script>
  <script src="/assets/examples.js" defer></script>
    
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/xff3ece.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <script type="text/javascript" charset="utf-8">
  $(function() {
    setInterval(function(){
      $("select").chosen({disable_search_threshold: 10});
    }, 500);
  });
  </script>
</body>
</html>
