table.$modifier_class
  thead
    tr
      th.row-heading header cell
      th header cell
      th header cell
      th header cell
      th header cell
      th header cell
    tr
      td cell
      td cell
      td cell
      td cell
      td cell
      td cell
    tr
      td cell
      td cell
      td cell
      td cell
      td cell
      td cell

