table
  thead
    tr.secondary
      td
      th 2012
      td
      td
      td
      td
      th 2013
      td
      td
      td
      td
      td
      td
    tr.row-heading
      th Category Name
      th Aug
      th Sep
      th Oct
      th Nov
      th Dec
      th Jan
      th Feb
      th Mar
      th Apr
      th May
      th Jun
      th Jul
  tfoot
    tr
      td(colspan='13') Currently, we only use footers for explanatory notes
  tbody
    tr
      td Row
      td 22
      td 32,567
      td 1,234
      td 987
      td 125,897
      td 12,986
      td 154
      td 67
      td 4
      td 456
      td 327
      td 14
    tr

