table
  thead
    tr
      th.row-header Category name
      th Aug
      th Sep
      th Oct
      th Nov
      th Dec
      th Jan
      th Feb
      th Mar
      th Apr
      th May
      th June
      th Jul
  tbody
    tr
      td Lorem ipsum
      td 22
      td.$modifier_class 32,567
      td
      td
      td
      td
      td
      td
      td
      td
      td