table
    tbody
        tr(class="#{className}")
          td Lorem ispum
          td 22
          td 32,567
          td 1,234
          td 987
          td 125,897
          td 12,986
          td 154
          td 67
          td 4
          td 456
          td 327
          td 14
