table
    tbody
        tr
          td(class="#{className}") Lorem ipsum
          td 32,567
          td 1,234
          td 987
          td 125,897
          td 12,986
          td 154
          td 67
          td 4
          td 456
          td 327
          td 14

