
<h1 class="page-header">Basic table styling</h1>
<% styleguide_block  '1.1' do %>
  <table class="$modifier_class">
    <thead>
      <tr>
        <th>header cell</th>
        <th>header cell</th>
        <th>header cell</th>
        <th>header cell</th>
        <th>header cell</th>
        <th>header cell</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
      </tr>
      <tr>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
        <td>cell</td>
      </tr>
    </tbody>
  </table>
<% end %>

<% styleguide_block  '1.2' do %>
  <table>
      <thead>
        <tr class="secondary">
          <td></td>
          <th>2012</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th>2013</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="row-heading">
          <th>Category Name</th>
          <th>Aug</th>
          <th>Sep</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dec</th>
          <th>Jan</th>
          <th>Feb</th>
          <th>Mar</th>
          <th>Apr</th>
          <th>May</th>
          <th>Jun</th>
          <th>Jul</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row</td>
          <td>22</td>
          <td>32,567</td>
          <td>1,234</td>
          <td>987</td>
          <td>125,897</td>
          <td>12,986</td>
          <td>154</td>
          <td>67</td>
          <td>4</td>
          <td>456</td>
          <td>327</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Row</td>
          <td>22</td>
          <td>32,567</td>
          <td>1,234</td>
          <td>987</td>
          <td>125,897</td>
          <td>12,986</td>
          <td>54</td>
          <td>67</td>
          <td>4</td>
          <td>456</td>
          <td>327</td>
          <td>14</td>
        </tr>
      </tbody>
    </table>
<% end %>