<div class="row">
  <%= erb :_style_guide_menu %>
  <div class="span9">
    <h1 class="page-header">Rows</h1>
    <div id="3.1">
      <% styleguide_block  '3.1' do %>
<table>
 <tbody>
   <tr class="$modifier_class">
     <td>22</td>
     <td>32,567</td>
     <td>1,234</td>
     <td>987</td>
     <td>125,897</td>
     <td>12,986</td>
     <td>154</td>
     <td>67</td>
     <td>4</td>
     <td>456</td>
     <td>327</td>
     <td>14</td>
   </tr>
  </tbody>
</table>
      <% end %>
    </div><!-- end #3.1 -->
  </div>
</div>