<div class="row">
  <%= erb :_style_guide_menu %>
  <div class="span9">
    <h1 class="page-header">Columns</h1>
    <div id="2.1">
      <% styleguide_block  '2.1' do %>
      <table>
        <thead>
          <tr class="secondary">
            <td></td>
            <th>2012</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>2013</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="row-heading">
           <th>Category Name</th>
           <th>Aug</th>
           <th>Sep</th>
           <th>Oct</th>
           <th class="sortable">Nov</th>
           <th class="sortable sorted-asc">Dec</th>
           <th class="sortable sorted-desc">Jan</th>
           <th>Feb</th>
           <th class="resizeable">Mar</th>
           <th>Apr</th>
           <th>May</th>
           <th>Jun</th>
           <th>Jul</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Lorem ispum</td>
           <td class="right-aligned">22</td>
           <td class="right-aligned">32,567</td>
           <td class="right-aligned">1,234</td>
           <td class="right-aligned">987</td>
           <td class="right-aligned">125,897</td>
           <td class="right-aligned">12,986</td>
           <td class="right-aligned">154</td>
           <td class="right-aligned">67</td>
           <td class="right-aligned">4</td>
           <td class="right-aligned">456</td>
           <td class="right-aligned">327</td>
           <td class="right-aligned">14</td>
         </tr>
         <tr>
           <td></td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total">100</td>
           <td class="right-aligned total light">100</td>
         </tr>
       </tbody>
     </table>
      <% end %>
    </div><!-- end #2.1 -->
  </div>
</div>