extends ../layout

block content
  .row
    .span3
      .well
        ul#coreLinkList.nav.nav-list
          li.nav-header
            | Core features
    .span9
      h3#example_header
      #temp
      #example
      h3 Code for example
      pre
        code#example_js(data-language='javascript')
