<div class="container">
  <div class="row">
    <div class="span3">
      <ul id="coreLinkList" class="nav nav-list">
        <li class="nav-header">Core features</li>
      </ul>
    </div>

    <div class="span9">
      <h3 id="example_header"></h3>
      <div id="temp"></div>
      <div id="example" class="widget-block"></div>
      <h3>Code for example</h3>
      <pre>
        <code id="example_js" data-language="coffeescript"></code>
      </pre>
    </div>
  </div>
</div>
{{{demoblock}}}