<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3>Core features</h3>
      <ul id="coreLinkList" class="nav nav-list">
      </ul>
    </div>

    <div class="col-xs-9">
      <h3 id="example_header"></h3>
      <div id="temp"></div>
      <div id="example" class="widget-block"></div>
      
      <pre>
        <code id="example_js" data-language="coffeescript"></code>
      </pre>
    </div>
  </div>
</div>