<h1 class="page-header">Cells</h1>

<div id="4.1">
  <% styleguide_block  '4.1' do %>
<table>
 <tbody>
   <tr>
     <td>Lorem ispum</td>
     <td class="$modifier_class">32,567</td>
     <td>1,234</td>
     <td>987</td>
     <td>125,897</td>
     <td>12,986</td>
     <td>154</td>
     <td>67</td>
     <td>4</td>
     <td>456</td>
     <td>327</td>
     <td>14</td>
   </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #4.1 -->

<div id="4.2">
  <% styleguide_block  '4.2' do %>
<table>
 <tbody>
   <tr>
     <td>Lorem ipsum</td>
     <td class="editable $modifier_class">32,567</td>
     <td>1,234</td>
     <td>987</td>
     <td>125,897</td>
     <td>12,986</td>
     <td>154</td>
     <td>67</td>
     <td>4</td>
     <td>456</td>
     <td>327</td>
     <td>14</td>
   </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #4.2 -->

<div id="4.3">
  <% styleguide_block  '4.3' do %>
<table>
 <tbody>
   <tr>
     <td class="$modifier_class">Lorem ipsum</td>
     <td>32,567</td>
     <td>1,234</td>
     <td>987</td>
     <td>125,897</td>
     <td>12,986</td>
     <td>154</td>
     <td>67</td>
     <td>4</td>
     <td>456</td>
     <td>327</td>
     <td>14</td>
   </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #4.3 -->