<h1 class="page-header">Cells</h1>

<div id="4.1">
  <% styleguide_block  '4.1' do %>
<table>
 <tbody>
   <tr>
     <td class="$modifier_class">Cell example</td>
   </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #4.1 -->

<div id="4.2">
  <% styleguide_block  '4.2' do %>
<table>
 <tbody>
   <tr>
     <td class="editable $modifier_class">Editable example</td>
   </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #4.2 -->

<div id="4.3">
  <% styleguide_block  '4.3' do %>
<table>
 <tbody>
   <tr>
     <td class="$modifier_class">Intend example</td>
   </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #4.3 -->