<h1 class="page-header">Rows</h1>

<div id="3.1">
  <% styleguide_block  '3.1' do %>
<table>
  <tbody>
  <tr class="$modifier_class">
    <td>Rows example</td>
  </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #3.1 -->

<div id="3.2">
  <% styleguide_block  '3.2' do %>
<table>
  <tbody>
  <tr class="$modifier_class">
    <td>Collapsible expandable example</td>
  </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #3.2 -->

<div id="3.3">
  <% styleguide_block  '3.3' do %>
<table>
  <tbody>
  <tr class="$modifier_class">
    <td>Draggable example</td>
  </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #3.3 -->

<div id="3.4">
  <% styleguide_block  '3.4' do %>
<table>
  <tbody>
  <tr class="$modifier_class">
    <td>Deletable example</td>
  </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #3.4 -->

<div id="3.5">
  <% styleguide_block  '3.5' do %>
<table>
  <tbody>
  <tr class="$modifier_class">
    <td>Spacer example</td>
  </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #3.5 -->