<h1 class="page-header">Columns</h1>

<div id="2.1">
  <% styleguide_block  '2.1' do %>
<table>
 <tbody>
    <tr>
      <td class="$modifier_class">Cell example</td>
    </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #2.1 -->

<div id="2.2">
  <% styleguide_block  '2.2' do %>
<table>
  <thead>
    <tr class="row-heading">
      <th class="$modifier_class">Resizeable example</th>
    </tr>
  </thead>
</table>
  <% end %>
</div><!-- end #2.2 -->

<div id="2.3">
  <% styleguide_block  '2.3' do %>
<table>
  <thead>
    <tr class="row-heading">
      <th class="sortable $modifier_class">Sortable example</th>
    </tr>
  </thead>
</table>
  <% end %>
</div><!-- end #2.3 -->