<h1 class="page-header">Columns</h1>

<div id="2.1">
  <% styleguide_block  '2.1' do %>
<table>
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Aug</th>
      <th>Sep</th>
      <th>Oct</th>
      <th>Nov</th>
      <th>Dec</th>
      <th>Jan</th>
      <th>Feb</th>
      <th>Mar</th>
      <th>Apr</th>
      <th>May</th>
      <th>Jun</th>
      <th>Jul</th>
    </tr>
  </thead>
 <tbody>
    <tr>
      <td>Lorem ispum</td>
      <td>22</td>
      <td class="$modifier_class">32,567</td>
      <td>1,234</td>
      <td>987</td>
      <td>125,897</td>
      <td>12,986</td>
      <td>154</td>
      <td>67</td>
      <td>4</td>
      <td>456</td>
      <td>327</td>
      <td>14</td>
    </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #2.1 -->

<div id="2.2">
  <% styleguide_block  '2.2' do %>
<table>
  <thead>
    <tr class="row-heading">
      <th>Category Name</th>
      <th class="$modifier_class">Aug</th>
      <th>Sep</th>
      <th>Oct</th>
      <th>Nov</th>
      <th>Dec</th>
      <th>Jan</th>
      <th>Feb</th>
      <th>Mar</th>
      <th>Apr</th>
      <th>May</th>
      <th>Jun</th>
      <th>Jul</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ispum</td>
      <td>22</td>
      <td>32,567</td>
      <td>1,234</td>
      <td>987</td>
      <td>125,897</td>
      <td>12,986</td>
      <td>154</td>
      <td>67</td>
      <td>4</td>
      <td>456</td>
      <td>327</td>
      <td>14</td>
    </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #2.2 -->

<div id="2.3">
  <% styleguide_block  '2.3' do %>
<table>
  <thead>
    <tr class="row-heading">
      <th>Category Name</th>
      <th class="sortable $modifier_class">Aug</th>
      <th>Sep</th>
      <th>Oct</th>
      <th>Nov</th>
      <th>Dec</th>
      <th>Jan</th>
      <th>Feb</th>
      <th>Mar</th>
      <th>Apr</th>
      <th>May</th>
      <th>Jun</th>
      <th>Jul</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ispum</td>
      <td>22</td>
      <td>32,567</td>
      <td>1,234</td>
      <td>987</td>
      <td>125,897</td>
      <td>12,986</td>
      <td>154</td>
      <td>67</td>
      <td>4</td>
      <td>456</td>
      <td>327</td>
      <td>14</td>
    </tr>
  </tbody>
</table>
  <% end %>
</div><!-- end #2.3 -->