@import "colors";
@import "mixins";

// Basic styles
// 
// <strong>List of supported table HTML elements and how they should be used.</strong>
// 
// <code>&lt;table&gt;</code> Wrapping element for displaying data in a tabular format.
// <code>&lt;thead&gt;</code> Container element for table header rows <code>&lt;tr&gt;</code> to label table columns
// <code>&lt;tbody&gt;</code> Container element for table rows <code>&lt;tr&gt;</code> in the body of the table
// <code>&lt;tr&gt;</code> Container element for a set of table cells <code>&lt;td&gt;</code> or <code>&lt;th&gt;</code> that appears on a single row
// <code>&lt;td&gt;</code> Default table cell
// <code>&lt;th&gt;</code> Special table cell for column (or row, depending on scope and placement) labels Must be used within a <code>&lt;thead&gt;</code>
// <code>&lt;caption&gt;</code> Description or summary of what the table holds, especially useful for screen readers
// 
// Styleguide 1.1

table {
  @include border-radius(4px);
  @include box-sizing(border-box);
  width: 100%;
  padding: 10px;
  border-collapse: separate;
  // box-shadow: 0 0 2px rgba(0,0,0,0.15);
  color: $table-color;
  background: $table-background;

  a {
    color: $table-link-color;
  }
}

// Headers
// 
// <strong>Defining styles for and within <code>&lt;thead&gt;</code>.</strong> 
//
// <code>&lt;th&gt;</code> should be used where we have content
// <code>&lt;td&gt;</code> should be used where we have gaps (see .secondary)
// 
// .secondary - (row-level) used above normal header (for nested table headers)
// 
// Styleguide 1.2

thead {
  th, td {
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: normal;
  }

  td {
    color: $td-color;
    background: $td-background;
  }

  th {
    color: $th-color;
    background: $th-background;
  }

  tr {
    &.secondary {
      th, td {
        color: $header-primary-color;
        background: $header-primary-background;
      }

      td {
        border-bottom: solid 1px $header-primary-border-color;
      }
    }
  }
}

// .row-heading and .total
// 
// <strong>Defining styles for and within <code>&lt;thead&gt;</code>.</strong> 
//
// <code>&lt;th&gt;</code> should be used where we have content
// <code>&lt;td&gt;</code> should be used where we have gaps (see .secondary)
// 
// .row-heading - (cell-level) first 1-2 columns describing the content of the row
// .total - (cell-level) ending column summing prior cells
// 
// Styleguide 1.2.1

thead {
  th, td {
    &.row-heading {
      color: $header-row-heading-color;
      background: $header-row-heading-background;
      text-align: left;
      font-weight: normal;
    }

    &.total {
      color: $header-total-heading-color;
      background: $header-total-heading-background;
      font-weight: bold;
    }
  }
}

// Footers
// 
// Currently, we only use footers for explanatory notes
// 
// Styleguide 1.3

tfoot {
  th, td {
    font-size: 16px;
    color: $footer-color;
    background: $footer-background;
    font-weight: 200;
    font-style: italic;
    text-align: left;
  }
}

// Full stack table example
// 
// <div class="alert alert-info"><b>From Sinisa with Love</b></div>
// <p style="text-align:center"><img src="http://depleted.files.wordpress.com/2010/02/1267346567678.jpg" /></p>
// <div class="alert">Adam play with this, you will know better how this table is going to be used</div>
// <div class="alert alert-error">Report any porblem to me</div>
// 
// Styleguide 1.4




// Columns
// 
// These styles are actually cell styles, but they apply to an entire column at a time.
// 
// .row-heading - for first 1-2 columns that describe the content of the row
// .total - for columns at the end of the table showing row totals
// .left-aligned - for numeric columns (default is right-aligned)
// .light - to de-emphasize less important columns
// 
// Styleguide 2.1

tbody {
  th, td {
    &.row-heading {
      color: $column-row-heading-color;
      background: $column-row-heading-background;
      text-transform: none;
      text-align: left;
    }

    &.total {
      color: $column-total-color;
      background: $column-total-background;
      font-weight: bold;
    }

    &.left-aligned {
      text-align: left;
    }

    &.light {
      color: $column-light-color;
      background: $column-light-background;
    }
  }
}

// Resizable
// 
// <div class="alert alert-info">When <code>.resizeable-handle</code> is active <code>:hover</code>, <code>.neighbor</code> class should be added to the sibling cells <code>.resizeable-handle</code>, via javascript</div>
// 
// .resizeable - allows the user to drag and drop the edges of the columns to resize
// 
// Styleguide 2.2
thead {
  // resizeable
  .resizeable {
    // cursor: col-resize;
    position: relative;

    .resizeable-handle {
      position: absolute;
      top: 0;
      bottom: 0;
      display: inline-block;
      width: 3px;
      height: 100%;
      cursor: col-resize;

      &:hover {
        background: $resizable-hover-color;
      }

      &.neighbor {
        background: $resizable-neighbor-color;
      }

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
  }
}

// Sortable
// 
// TODO: write descriptions
// 
// .sortable - for columns not currently sorted, informing the user that the column can be sorted
// .sortable.sorted-asc - for column currently sorted ascending
// .sortable.sorted-desc - for column currently sorted descending
// 
// Styleguide 2.3

thead {
  // sortable
  .sortable {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    text-align: left;

    &:before, &:after {
      position: absolute;
      right: 5px;
      height: 0;
      width: 0;
      content: "";
    }

    &:before {
      top: 12px;
      border-color: transparent transparent $sortable-inactive-arrows-color transparent;
      border-style: solid;
      border-width: 0px 5px 5px 5px; 
    }

    &:after {
      bottom: 12px;
      border-color: $sortable-inactive-arrows-color transparent transparent transparent;
      border-style: solid;
      border-width: 5px 5px 0 5px;
    }

    &.sorted-asc {
      &:after {
        border-color: $sortable-active-arrows-color transparent transparent transparent;
      }
    }

    &.sorted-desc {
       &:before {
        border-color: transparent transparent $sortable-active-arrows-color transparent;
      }
    }
  }
}


// Rows
// 
// These styles are applied an entire row at a time.
// 
// .subtotal - for rows showing total of a subset of rows above them
// .subtotal2 - alt style for rows showing total of a subset of rows above them
// .well - alt style for rows showing total of a subset of rows above them
// .total - for rows at the bottom of the table showing column totals
// .total2 - at style for rows at the bottom of the table showing column totals
// .spacer - blank row to provide space
// .emphasis - rows that need attention drawn to them
// .emphasis2 - alt style for rows that need attention drawn to them
// 
// Styleguide 3.1

tbody {
  tr {
    &.subtotal {
      th, td {
        border-top: solid 1px $row-subtotal-border-top-color;
        color: $row-subtotal-color;
        background: $row-subtotal-background;
      }
    }

    &.subtotal2 {
      th, td {
        border-top: solid 1px $row-subtotal2-border-top-color;
        border-bottom: solid 1px $row-subtotal2-border-bottom-color;
        color: $row-subtotal2-color;
        background: $row-subtotal2-background;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    &.well {
      @include border-radius(0);
      @include inner-shadow(0, 0, 5px, $row-well-shadow-color);
      display: block;
      padding: 0;
      margin: 0;
      color: $row-well-color;
      background: $row-well-background;

      td, th {
        color: $grey;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    &.total {
      th, td {
        border-top: solid 1px $row-total-border-top-color;
        border-bottom: solid 1px $row-total-border-bottom-color;
        color: $row-total-color;
        background: $row-total-background;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    &.total2 {
      th, td {
        border-top: solid 1px $light-grey;
        border-bottom: solid 1px $light-grey;
        color: $white;
        background: $secondary;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    &.spacer {
      th, td {
        text-align: left;
        text-indent: -9999em;
      }
    }

    &.emphasis {
      th, td {
        color: $row-emphasis-color;
        background: $row-emphasis-background;
        font-size: 100%;
        font-weight: bold;
        border-bottom: solid 1px $row-emphasis-border-bottom-color;
      }
    }

    &.emphasis2 {
      color: $row-emphasis2-color;
      background: $row-emphasis2-background;
      font-size: 100%;
      font-weight: bold;
    }
  }
}


// Cells
// 
// These styles relate to cells specifically and support our particular table library functionality
// 
// .plan - for columns in the future
// .old - for columns in the past
// .collapsible - for cells in a hierarchy that are currently expanded (and can be collapsed by clicking)
// .expandable - for cells in a hierarchy that are currently collapsed (and can be expanded by clicking)
// .deletable - indicates that the row can be deleted by clicking the 'x'
// .draggable - indicates that the row can be moved up or down
// .editable - indicates that the cell can be clicked on to edit
// .editable:hover - indicates that the cell can be clicked on to edit and currently has hover
// .editable.active - Only editable cell can become active. SINISA: THIS IS THIS MOST IMPORTANT ONE! http://cl.ly/image/0Z420V2p2I2G is half-way there. i want activecell link color for the border and a drop shadow, but i don't want the cell to be larger or oversized. the image's gradient looks terrible. either kill or improve it--your call. finally, we do like the little blue square in the lower right. it should look as much like our logo as possible. text inside the activecell should be activecell black, not link color
// .editable.changed - changed/dirty cell pending confirmation of save (at which point it reverts to editable)
// .indent1 - for cells in a hierarchy, indented 1 space
// .indent2 - for cells in a hierarchy, indented 2 spaces
// .indent3 - for cells in a hierarchy, indented 3 spaces
// .indent4 - for cells in a hierarchy, indented 4 spaces
// .indent5 - for cells in a hierarchy, indented 5 spaces
// .indent6 - for cells in a hierarchy, indented 6 spaces
// 
// Styleguide 4.1

th, td {
  font-size: 12px;
  text-align: right;
  padding: 9px 8px;

  // &:first-child {
  //   text-transform: uppercase;
  //   white-space: nowrap;
  //   color: $grey;
  // }

  // plan
  &.plan {
    color: $cell-plan-color;
    background: $cell-plan-background;
    
    &.editable:hover {
      background: $white;
    }
  }

  // old
  &.old {
    color: $cell-old-color;
    background: $cell-old-background
  }

  // collapsible
  &.collapsible {
    cursor: pointer;
    text-align: left;

    &:before {
      content: "";
      width: 0;
      height: 0;
      display: inline-block;
      margin: 0 5px 0 -5px;
      border-color: $cell-collapsible-arrow-color transparent transparent transparent;
      border-style: solid;
      border-width: 5px;
      text-indent: 0;
      cursor: pointer;
    }
  }

  // expandable
  &.expandable {
     cursor: pointer;
     text-align: left;

    &:before {
      content: "";
      width: 0;
      height: 0;
      display: inline-block;
      margin: 0 5px 0 -5px;
      border-color: transparent transparent transparent $cell-expandable-arrow-color;
      border-style: solid;
      border-width: 5px;
      text-indent: 0;
      cursor: pointer;
    }
  }

  // deletable
  &.deletable {
    text-align: left; 
    text-indent: -9999em;
    cursor: pointer;

    &:before {
      @include border-radius(200px);
      content: "x";
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      line-height: 16px;
      color: $cell-deletable-color;
      background: $cell-deletable-background;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
      cursor: pointer;
      text-indent: 0;
    }
  }

  // draggable
  &.draggable {
    text-align: left; 
    text-indent: -9999em;
    cursor: pointer;

    &:before {
      @include border-radius(200px);
      content: "| | |";
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      line-height: 16px;
      color: $cell-draggable-color;
      background: $cell-draggable-background;
      text-align: center;
      font-size: 6px;
      font-weight: bold;
      cursor: pointer;
      text-indent: 0;
    }
  }

  // editable
  &.editable {
    color: $cell-editable-active-border-color;
    cursor: pointer;

    &:hover {
      background: $cell-editable-hover-color;
    }

    // active
    &.active {
      // position: relative;
      // display: block;
      // width: auto;
      cursor: text;
      border: 1px solid $cell-editable-active-border-color;
      @include box-shadow(#{1px 1px 3px rgba($cell-editable-active-shadow-color, 0.4), inset 1px 1px 3px rgba($cell-editable-active-shadow-color, 0.5)});
      background: $cell-editable-active-background;
    }

    // changed
    &.changed {
      font-weight: bold;
      border: 1px dotted $cell-editable-changed-border-color;
    }
  }

  // indent1
  &.indent1 {
    text-align: left;
    padding-left: 20px;
  }

  // indent2
  &.indent2 {
    text-align: left;
    padding-left: 30px;
  }

  // indent3
  &.indent3 {
    text-align: left;
    padding-left: 40px;
  }

  // indent4
  &.indent4 {
    text-align: left;
    padding-left: 50px;
  }

  // indent5
  &.indent5 {
    text-align: left;
    padding-left: 60px;
  }

  // indent5
  &.indent6 {
    text-align: left;
    padding-left: 70px;
  }
}
