@import "colors";
@import "mixins";
@import "compass/css3";

// <strong>List of supported table HTML elements and how they should be used.</strong>
// <br>
// <br>
// <code>&lt;table&gt;</code> Wrapping element for displaying data in a tabular format.
// <code>&lt;thead&gt;</code> Container element for table header rows <code>&lt;tr&gt;</code> to label table columns
// <code>&lt;tbody&gt;</code> Container element for table rows <code>&lt;tr&gt;</code> in the body of the table
// <code>&lt;tr&gt;</code> Container element for a set of table cells <code>&lt;td&gt;</code> or <code>&lt;th&gt;</code> that appears on a single row
// <code>&lt;td&gt;</code> Default table cell
// <code>&lt;th&gt;</code> Special table cell for column (or row, depending on scope and placement) labels Must be used within a <code>&lt;thead&gt;</code>
// <code>&lt;caption&gt;</code> Description or summary of what the table holds, especially useful for screen readers
// 
// Styleguide 1.1

table {
  @include border-radius(4px);
  @include box-sizing(border-box);
  width: 100%;
  padding: 10px;
  border-collapse: separate;
  box-shadow: 0 0 2px rgba(0,0,0,0.15);
  background: $white;
}



// Headers
// TODO: write descriptions
// 
// sinisa, default should look like our chart labels: http://cl.ly/image/2u1r2e1u3U2P
// 
// Styleguide 1.2

thead {
  th, td {
    text-transform: uppercase;
    white-space: nowrap;
    color: $grey;
  }
}

// Row heading
// TODO: write descriptions
// 
// .row-heading - for first 1-2 columns that describe the content of the row;  sinisa, http://cl.ly/image/0F362J2T2f1t shows row heading and column heading together
// 
// Styleguide 1.2.1

thead {
  tr {
    &.row-heading {
      th, td {
        color: $primary;
        text-align: right;
        &:first-child {
          color: $primary-dark
        }
      }
    }
  }
}

// Secondary
// TODO: write descriptions
// 
// .secondary - used above normal header (for nested table headers) sinisa, see http://cl.ly/image/3Q2R1n0E1L1i
// 
// Styleguide 1.2.2

thead {
  tr {
    &.secondary {
      th, td {
        color: $primary;
      }

      th {
        text-align: center;
      }

      td {
        border-bottom: solid 1px $light-grey;
      }
    }
  }
}


// Footers
// Currently, we only use footers for explanatory notes
// sinisa: something simple like a caption: http://cl.ly/image/0N0B0S0K1V0T
// 
// Styleguide 1.3

tfoot {
  th, td {
    font-family: Georgia, serif;
    font-size: 16px;
    color: $grey;
    font-weight: bold;
    font-style: italic;
  }
}

// Columns
// TODO: write descriptions
// 
// .row-heading - for first 1-2 columns that describe the content of the row;  sinisa, let's kill this idea of light font weight for the row heading. stupid. default should look like our chart labels: http://cl.ly/image/2u1r2e1u3U2P
// .total - for columns at the end of the table showing row totals; sinisa, perhaps just bold for now
// .right-aligned - for numeric columns (default is left-aligned)
// .light - to de-emphasize less important columns; sinisa, see http://cl.ly/image/1q1k2V0w1x3z columns 1 and 3
// 
// Styleguide 2.1

tbody {
  th, td {
    &.row-heading {

    }

    &.total {
      font-weight: bold;
    }

    &.right-aligned {
      text-align: right;
    }

    &.light {
      color: $light-grey;
    }
  }
}

// Resizable
// TODO: write descriptions
// 
// .resizeable - allows the user to drag and drop the edges of the columns to resize; sinisa i dont know. do we need a style for this? or just turning cursor to left-right arrows?
// 
// Styleguide 2.2
thead {
  // resizeable
  .resizeable {
    cursor: col-resize;
  }
}

// Sortable
// TODO: write descriptions
// 
// .sortable - for columns not currently sorted, informing the user that the column can be sorted; sinisa, i don't know. do we need a style for this? hmm. maybe up and down arrows like this: http://cl.ly/image/3B2D1o0Q0Y0q
// .sorted-asc - for column currently sorted ascending; sinisa, small up-facing arrow
// .sorted-desc - for column currently sorted descending; sinisa, small down-facing arrow http://cl.ly/image/1c1U1N3Z2S2C
// 
// Styleguide 2.3

thead {
  // sortable
  .sortable {
    position: relative;
    padding-left: 15px;
    cursor: pointer;

    &:before, &:after {
      position: absolute;
      left: 10px;
      height: 0;
      width: 0;
      content: "";
    }

    &:before {
      top: 12px;
      border-color: transparent transparent $primary transparent;
      border-style: solid;
      border-width: 0px 5px 5px 5px; 
    }

    &:after {
      bottom: 12px;
      border-color: $primary transparent transparent transparent;
      border-style: solid;
      border-width: 5px 5px 0 5px;
    }

    &.sorted-asc {
      &:after {
        border-color: $light-grey transparent transparent transparent;
      }
    }

    &.sorted-desc {
       &:before {
        border-color: transparent transparent $light-grey transparent;
      }
    }
  }
}


// Rows
// TODO: write descriptions
// 
// .subtotal - for rows showing total of a subset of rows above them; http://cl.ly/image/250s0Y1U013D is pretty good
// .well - alt style for rows showing total of a subset of rows above them; http://cl.ly/image/2W2R3k423T3v is pretty good
// .total - for rows at the bottom of the table showing column totals: sinisa the colors might be off here, but bold and activecell green: http://cl.ly/image/0D2a07462x3r
// 
// Styleguide 3.1

tbody {
  tr {
    &.subtotal {
      
    }

    &.well {
      td, th {
        &:first-child {
          text-transform: uppercase;
          white-space: nowrap;
          color: $grey;
        }
      }
    }

    &.total {
      
    }
  }
}

// Collapsible and expandable
// TODO: write descriptions
// 
// .collapsible - expanded hierarchy node that can be collapsed by clicking; sinisa, this is a case where the entire row is separated out as the parent: http://cl.ly/image/2i2q3e332F2u. I don't like the gradient, but maybe you can work your magic. arrow points down when expanded
// .expandable - collapsed hierarchy node that can be expanded by clicking; sinisa, same as above but arrow points right when collapsed
// 
// Styleguide 3.2

tbody {
  tr {
    &.collapsible {
      
    }

    &.expandable {
      
    }
  }
}


// Draggable
// TODO: write descriptions
// 
// .draggable - indicates that the row can be moved up or down; sinisa this is new. something that doesn't suck that looks like this: http://cl.ly/image/2e1w252O3p1p
// 
// Styleguide 3.3

tbody {
  tr {
    &.draggable {

    }
  }
}


// Deletable
// TODO: write descriptions
// 
// .deletable - indicates that the row can be deleted by clicking the 'x'; sinisa, we had a pencil icon in a cell somewhere. i hated it. :-) for deleteable rows, i want a little blue 'x' icon at the end to indicate that the row can be deleted
// 
// Styleguide 3.4

tbody {
  tr {
    &.deletable {
      
    }
  }
}

// Spacer
// TODO: write descriptions
// 
// .spacer - blank row to provide space
// 
// Styleguide 3.5

tbody {
  tr {
    &.spacer {
      
    }
  }
}


// Cells
// TODO: write descriptions
// 
// .plan - cell for planned rows: sinisa: super light blue background: http://cl.ly/image/2m2G1c3o3T0K
// .collapsible - for cells that don't have row-level hierarchy, expanded hierarchy node that can be collapsed by clicking; sinisa, this is different from row-level hierarchies. sometimes the rest of the table is the same as other cells. see http://cl.ly/image/1K0Q1j1G1U0U
// .expandable - for cells that don't have row-level hierarchy, collapsed hierarchy node that can be expanded by clicking; sinisa see http://cl.ly/image/1K0Q1j1G1U0U
// 
// Styleguide 4.1

th, td {
  font-size: 12px;
  text-align: left;
  padding: 9px 8px;
  width: 66px;

  &:first-child {
    text-transform: uppercase;
    white-space: nowrap;
    color: $grey;
  }

  // plan
  &.plan {
    background: $plan;
  }
}

// Editable
// TODO: write descriptions
// 
// .editable - editable cell: sinisa just activecell link color indicates editable. anywhere. no pencil icon anywhere
// .active - active cell. Only editable cell can become active. SINISA: THIS IS THIS MOST IMPORTANT ONE! http://cl.ly/image/0Z420V2p2I2G is half-way there. i want activecell link color for the border and a drop shadow, but i don't want the cell to be larger or oversized. the image's gradient looks terrible. either kill or improve it--your call. finally, we do like the little blue square in the lower right. it should look as much like our logo as possible. text inside the activecell should be activecell black, not link color
// .changed - changed/dirty cell; sinisa, we don't have a style for this yet. this style is active after change but before confirmation that the change was recorded. either a different color, a different background, or a saving icon of some sort. what do you think is best?
// 
// Styleguide 4.2

th, td {
  // editable
  &.editable {
    color: $primary;
    cursor: pointer;

    // active
    &.active {
      position: relative;
      display: block;
      // width: auto;
      cursor: text;
      border: 1px solid $primary;
      @include box-shadow(#{1px 1px 3px rgba($primary, 0.4), inset 1px 1px 3px rgba($primary, 0.5)});
      background: $lighter-grey;
    }

    // changed
    &.changed {
      font-weight: bold;
      border: 1px dotted $primary;
    }
  }
}

// Intend
// TODO: write descriptions
// 
// .indent1 - for cells that don't have row-level hierarchy, indented 1 space; sinisa see http://cl.ly/image/1K0Q1j1G1U0U
// .indent2 - for cells that don't have row-level hierarchy, indented 2 spaces; sinisa see http://cl.ly/image/1K0Q1j1G1U0U
// .indent3 - for cells that don't have row-level hierarchy, indented 3 spaces; sinisa see http://cl.ly/image/1K0Q1j1G1U0U
// .indent4 - for cells that don't have row-level hierarchy, indented 4 spaces; sinisa see http://cl.ly/image/1K0Q1j1G1U0U
// .indent5 - for cells that don't have row-level hierarchy, indented 5 spaces; sinisa see http://cl.ly/image/1K0Q1j1G1U0U
// .indent6 - for cells that don't have row-level hierarchy, indented 6 spaces; sinisa see http://cl.ly/image/1K0Q1j1G1U0U
// 
// Styleguide 4.3

th, td {
  // indent1
  &.indent1 {
    padding-left: 10px;
  }

  // indent2
  &.indent2 {
    padding-left: 20px;
  }

  // indent3
  &.indent3 {
    padding-left: 30px;
  }

  // indent4
  &.indent4 {
    padding-left: 40px;
  }

  // indent5
  &.indent5 {
    padding-left: 50px;
  }

  // indent5
  &.indent6 {
    padding-left: 60px;
  }
}